@charset "UTF-8";

	
	
	table {
		width :100%;
		margin: 0;
		border-collapse:collapse;
		
	}
	
	table th{
		border: 1px solid #D7D7D7;
		
		text-align: left;		
		height:30px;
		font-family: airal;
		font-weight:bold;
		font-size: 12px;
		
		padding-left:8px;	
		
		background-color: #F9F9F9;
	
	}
	
	table td{
		border: 1px solid #D7D7D7;
		font-family: airal;
		font-size: 12px;
		padding-left:8px;
		
	
	}
	.lastTr{
		height:50px;
		border: none;
		
	}
	
	input{
		font-family: airal;
		width: 210px;
	}
	
	input.type_number{
		text-align: right;
		
	}
	

	textarea{
		width: 250px;
		height: 200px;
	}
	
	.btnBottom{
		color: black;
		background-color: white;
		font-family: airal;
		font-size:12px;
		font-weight:bold;
		padding: 6px;
		
		border:1px solid gray;
		border-radius: 4px;
		width:65px;
		
		box-shadow: -1px -1px 0px gray;
	}
	
	.btnBottom:haver{
		background-color: #D7D7D7;
		
	}
	
	.selectedFile{			
			width:170px;	
			display:none;					
	}
	
	.fileBtn{
		width:40px;
		text-align: center;
		font-size:4px;
		font-family:airal;				
		margin-left: 5px;
		
		padding:1px;
	}
	
	select{
		font-family: airal;
	}
	
	/* 카테고리 코드 readonly -> border제거  */
	#c_code{
		border:none;
	}
	
	