@charset "UTF-8";

	

	
	br {
		width: 700px;
		height: 2px;
		color: #D7D7D7;
		
	}
	
	
	table {
		width :650px;
		margin: 0;
		border-collapse:collapse;
		
	
		
	}
	
	table th{
		border: 1px solid #D7D7D7;
		width:200px;
		text-align: left;		
		height:30px;
		font-family: airal;
		font-weight:bold;
		font-size: 12px;
		
		padding-left:8px;	
		
		background-color: #F9F9F9;
	
	}
	
	table td{
		border: 1px solid #D7D7D7;
		font-family: airal;
		font-size: 12px;
		padding-left:8px;
	
	}
	.lastTr{
		height:50px;
		border: none;
		
	}
	
	input{
		font-family: airal;
		width: 250px;
	}
	
	.btn{
		color: black;
		background-color: white;
		font-family: airal;
		font-size:12px;
		font-weight:bold;
		padding: 6px;
		
		border:1px solid gray;
		border-radius: 4px;
		width:65px;
		
		box-shadow: -1px -1px 0px gray;
	}
	
	.fileBtn{
		width:40px;
		text-align: center;
		font-size:4px;
		font-family:airal;				
		margin-left: 5px;
		padding:1px;		
	}
	
	
	
	select{
		font-family: airal;
	}
	
	
	span{
		font-family: airal;	
		font-size: 15px;	
		font-weight:bold;	
		text-align: center;
		color: black;
		
	}