@charset "UTF-8";


	
	
	#mainPage_wrapper{
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	}
	
	/*********** warpper CSS end *************/
	
	
	
	#right_side{
	width: 100%;
	background-image: url('../images/1.jpg');
	background-size: cover;
	background-position: center;
	grid-column: 2;
	}
	
	
	
	
	/*********** right side CSS end   *************/
	
	
	
	
	#left_side{
	margin-left: 15px;
	grid-column: 1;
	
	}
	
	
	#left_text{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	margin-left: 15px;
	color: black;
	font-weight:bold;
	padding: 20px 0px;
	}
	
	
	#left_text a {
	text-decoration: none;
	color: black;
	font-weight:bold;
	font-size: 58px;
	}
	
	li {
	list-style-type: none;
	}
	
	#left_text a:hover{
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 60px;
	}

	/************ left side CSS end   ************/
	
	